//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	h1 Confirmed Appearances
	hr
	if lan
		if Date.now() < lan.beginDate
			em To get your name on this list or update your status, please fill out the 
				a(href = "/rsvp") RSVP form
				| .
		else
			p RSVPs are no longer being accepted. Have fun at LAN!
		- var yesCount = 0, maybeCount = 0;
		- for(var i = 0; i < rsvps.length; i += 1){
		-     if(rsvps[i].status === "Yes"){
		-         yesCount += 1 + rsvps[i].guests;
		-     }else if(rsvps[i].status === "Maybe"){
		-         maybeCount += 1 + rsvps[i].guests;
		-     }
		- }
		h3 #{lan.beginDate.getFullYear()} Attendee Total: #{yesCount} 
			if maybeCount > 0
				| and #{maybeCount} maybes
		p
			each rsvp in rsvps
				| #{rsvp.user.firstName} #{rsvp.user.lastName} [#{rsvp.user.primaryHandle}]
				if rsvp.guests > 0
					|  +#{rsvp.guests}
				if rsvp.status === "Maybe"
					|  (Maybe)
	else
		.empty-table No previous LAN defined.