//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	h1 Article Editor
	hr
	form.validated-form#article-editor-form(role = "form")
		if !article
			.row
				.form-group.col-xs-6
					label Title
					input.form-control(type = "text", name = "title", autofocus)
			.row
				.form-group.col-xs-6
					label Tags
					input.form-control.tokenfield(type = "text", name = "tags")
				.form-group.col-xs-2
					label Publish
					.btn-group(data-toggle = "buttons")
						label(class = "btn btn-default")
							input(type = "radio", name = "published-yes")
							| Yes
						label(class = "btn btn-default active")
							input(type = "radio", name = "published-no")
							| No
			.row
				.form-group.col-xs-12
					label Content
					textarea.form-control.editorfield(type = "text", name = "article-content")
			hr
			a.submitButton(class = "btn btn-default", onclick = "submitNewArticle();", disabled = "disabled") Submit
			a(class = "btn btn-link" href = "/authoring/article") Cancel
		else
			.row
				.form-group.col-xs-6
					label Title
					input.form-control(type = "text", name = "title", value = article.title, autofocus)
				.form-group.col-xs-6
					label Tags
					input.form-control.tokenfield(type = "text", name = "tags", value = article.tags)
			.row
				.col-xs-6.well
					.row
						label.col-xs-5 Created by:
						.col-xs-7 #{article.author.firstName} #{article.author.lastName} (#{article.author.email})
					.row
						label.col-xs-5 Created:
						.col-xs-7= getFormattedTime(article.created)
					if article.modifiedBy
						.row
							label.col-xs-5 Last modified by:
							.col-xs-7 #{article.modifiedBy.firstName} #{article.modifiedBy.lastName} (#{article.modifiedBy.email})
						.row
							label.col-xs-5 Last modified:
							.col-xs-7= getFormattedTime(article.modified)
					else
						.row
							label.col-xs-5 Last modified by:
							.col-xs-7 N/A
						.row
							label.col-xs-5 Last modified:
							.col-xs-7 N/A
				.form-group.col-xs-2
					label Published
					.btn-group(data-toggle = "buttons")
						if article.published
							label(class = "btn btn-default active")
								input(type = "radio", name = "published-yes")
								| Yes
							label(class = "btn btn-default")
								input(type = "radio", name = "published-no")
								| No
						else
							label(class = "btn btn-default")
								input(type = "radio", name = "published-yes")
								| Yes
							label(class = "btn btn-default active")
								input(type = "radio", name = "published-no")
								| No
			.row
				.form-group.col-xs-12
					label Content
					textarea.form-control.editorfield(type = "text", name = "article-content")= article.content
			hr
			.btn-group
				a.submitButton(class = "btn btn-default", onclick = "updateArticle('" + article._id + "'); location.replace('/authoring/article');") Save
				a(class = "btn btn-default", onclick = "updateArticle('" + article._id + "');") Apply
			a(class = "btn btn-link" href = "/article/" + article._id) View
			a(class = "btn btn-link" href = "/authoring/article") Back
block pageScripts
	link(rel = "stylesheet", type = "text/css", href = "/thirdparty/bootstrap-validator/bootstrapValidator.min.css")
	link(rel = "stylesheet", type = "text/css", href = "/thirdparty/bootstrap-tokenfield/bootstrap-tokenfield.min.css")
	link(rel = "stylesheet", type = "text/css", href = "/thirdparty/bootstrap-tokenfield/tokenfield-typeahead.min.css")
	script(src = "/thirdparty/bootstrap-tokenfield/bootstrap-tokenfield.min.js")
	script(src = "/thirdparty/ckeditor/ckeditor.js")
	script(src = "/thirdparty/ckeditor/adapters/jquery.js")
