//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	h1 Article Manager
	hr
	#article-manager
		.global-operations
			.button-row-left
				a(class = "btn btn-default", name = "new", href = "/authoring/article/new")
					span.button-icon(class = "glyphicon glyphicon-plus")
					| New
				a(class = "btn btn-default", name = "delete", onclick = "deleteSelectedArticles();")
					span.button-icon(class = "glyphicon glyphicon-trash")
					| Delete
		table.table.table-hover
			thead
				tr
					th
					th(class = getSortClassForHeader(sort, "title"), onclick = "sortTable('" + getSortLinkForHeader(sort, "title") + "');") Title
					th(class = getSortClassForHeader(sort, "author"), onclick = "sortTable('" + getSortLinkForHeader(sort, "author") + "');") Author
					th(class = getSortClassForHeader(sort, "created"), onclick = "sortTable('" + getSortLinkForHeader(sort, "created") + "');") Created
					th(class = getSortClassForHeader(sort, "published"), onclick = "sortTable('" + getSortLinkForHeader(sort, "published") + "');") Published
					th
			tbody
				each article in articles
					tr.article-row
						td
							input.article-selector(type = "checkbox", value = "")
							input(type = "hidden", value = article._id)
						td #{article.title}
						td #{article.author.firstName} #{article.author.lastName} (#{article.author.email})
						td #{getFormattedTime(article.created)}
						td
							if article.published
								span(class = "glyphicon glyphicon-ok text-success")
							else
								span(class = "glyphicon glyphicon-remove text-danger")
						td
							.btn-group.button-row-right
								a(class = "btn btn-default btn-xs", name = "edit", href = "/authoring/article/" + article._id)
									span.button-icon(class = "glyphicon glyphicon-pencil")
									| Edit
								a(class = "btn btn-default btn-xs", name = "delete", onclick = "deleteArticle('" + article._id + "');")
									span.button-icon(class = "glyphicon glyphicon-trash")
									| Delete
		if articles.length === 0
			.empty-table You haven't written any articles yet!
